html,
body,
div,
span,
pre,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

html.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  color: var(--body-color);
  font-family: Verdana, Geneva, sans-serif;
  overflow-y: scroll;
  transition: opacity 0.5s;
  hyphens: auto;
}

html.loaded {
  &:before,
  &:after {
    transition: opacity 0.5s;
    opacity: 0;
  }

  & body {
    opacity: 1;

    & * {
      transition: none !important;
    }
  }
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--red);
  text-decoration: none;
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.margin-top0 {
  margin-top: 0 !important;
}

.margin-top025 {
  margin-top: 0.25em !important;
}

.margin-top05 {
  margin-top: 0.5em !important;
}

.margin-top1 {
  margin-top: 1em !important;
}

.margin-top15 {
  margin-top: 1.5em !important;
}

.margin-top2 {
  margin-top: 2em !important;
}

.margin-top3 {
  margin-top: 3em !important;
}

.margin-top4 {
  margin-top: 4em !important;
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;

  & .line {
    width: 100%;
    margin: 2em auto;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      width: 40%;
      height: 1px;
      margin: auto;
      background: var(--orange);
    }
  }

  & .img-container {
    overflow: hidden;
    position: relative;
    margin: 20px 0;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  & > :first-child {
    padding-top: 140px;
  }

  & > :last-child {
    min-height: calc(100vh - 300px);
    margin-bottom: 150px;
  }

  & h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 140px;
  }

  & h2:before,
  & h2:after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: var(--body-color);
    margin-top: 0.2em;
  }

  & h2:before {
    margin-right: 0.2em;
  }

  & h2:after {
    margin-left: 0.2em;
  }

  & h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 2em;
    padding-bottom: 1em;
    color: var(--orange);
  }

  & h5 {
    color: #cb852a;
    color: var(--orange);
    font-size: .85em;
    font-style: italic;
    font-weight: 700;
    margin-top: 1em;

    &:not(:first-of-type) {
      margin-top: 2em;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      margin-right: 0.5em;
      vertical-align: 0.1em;
      background: var(--orange);
    }

    & span {
      font-size: 0.8em;
    }
  }

  & .demo-gallery > div {
    align-items: start;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, min(100px, 100%));
    justify-items: center;
  }

  & .demo-basic-gallery > div {
    cursor: pointer;
    &:last-of-type {
      height: 100px;
      display: flex;
      padding: 10px;
      box-sizing: border-box;
      background: #cb852a;
      & img {
        display: none;
      }
      &:after {
        content: "One more to see";
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin: auto;
      }
    }

  }


  & .demo-button-gallery {
    & button {
      appearance: none;
      border: 1px #9b9701 solid;
      border-radius: 3px;
      background: var(--dark-red);
      background: #084600;
      color: var(--body-color);
      padding: 15px;
      font-size: 1.1em;
      font-weight: bold;
      width: 126px;
      cursor: pointer;
    }
  }

  & .demo-single-gallery a {
    display: inline-block;
    border: 2px solid var(--body-color);
    border-radius: 5px;
    overflow: hidden;
    height: 133px;
  }

  & p,
  & table,
  & ul {
    font-size: 0.8rem;
    text-align: justify;

    &.features {
      list-style: disc;
      padding: 0 1em;
      line-height: 1.45;
    }
  }

  & p.text,
  & div.text p {
    line-height: 1.45;
    margin-top: 1.2rem;

    & a {
      font-style: italic;
    }
  }
}

.blur {
  filter: blur(10px);
}

.up {
  right: 10px;
  bottom: -50px;
  position: fixed;
  width: 40px;
  height: 40px;
  background: var(--body-bg-color);
  z-index: 100;
  border: 3px solid var(--orange);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.4s, border-color 0.4s;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    width: 12px;
    height: 18px;
    background: var(--orange);
    left: 14px;
    bottom: 6px;
    transition: background-color 0.4s;
  }

  &:after {
    left: 6px;
    top: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent var(--orange) transparent;
    transition: border-color 0.4s;
  }

  @media (hover: hover) {
    &:hover {
      border: 3px solid var(--red);

      &:before {
        background: var(--red);
      }

      &:after {
        border-color: transparent transparent var(--red) transparent;
      }
    }
  }

  &.show {
    transform: translateY(-125%);
  }
}

@media screen and (max-width: 1240px) {
  body:not(.menu-is-closed) {
    & .content {
      & p,
      & h3,
      & h4,
      & h5,
      & .content-block,
      & .line {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }

      & h2 {
        padding-left: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .content {
    & p,
    & ul,
    & h3,
    & h4,
    & h5,
    & .content-block,
    & .line {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    & h2 {
      padding-left: 0.5em;
    }
  }
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    margin-left: 220px;
    transition: margin 0.4s;
  }
}